@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

html{
    scroll-behavior: smooth;
}

#navbar{
    color:black;
    cursor: pointer;
    display: flex;
}

.navlinks{
    font-size: large;
    font-weight: 500;
    font-family: 'Open-Sans' sans-serif;
    --tw-text-opacity: 1;
}

.navlinks:hover{
    color: rgb(79 70 229 / var(--tw-text-opacity));
}

.navlinks::after{
    content: '';
    height: 3px; 
    width: 0%;
    background-color: rgb(79 70 229 / var(--tw-text-opacity));
    display: block;
    transition: .5s ease-in-out;
    
}

.navlinks:hover::after{
    content: '';
    height: 3px; 
    width: 100%;
    background-color: rgb(79 70 229 / var(--tw-text-opacity));
    display: block;
}

#content p {
    color: white;

}

#cards{
    background-color: rgb(79 70 229 / var(--tw-text-opacity));
    border-radius: 10px;
    padding: 20px 20px;
    cursor: pointer;
    transition: .5s;
}

#cards h2{
    color: white;
}

#learn{
    color: rgba(0,0,0,0.6);
    font-weight: 500;
}

#learn3{
    color: rgba(0,0,0,0.6);
    font-weight: 500;
    /* padding-top: 15px; */
}

#hero-text{
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

/* #hero-text2{
    text-shadow: 1px 1px 1px rgba(104, 113, 241, 0.6);
    text-shadow: -2px -2px 1px white;
} */

#steps{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 60px;
    font-size: 30px;
    font-weight: 500;
}

/*SignUp Page Style Start Here*/

.center{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
}

.center{
    display: block;
    color: white;
    /* background: rgba(0,0,0,0.2); */
    background: rgba(0, 0, 0, 0.559);
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    margin-top: -3px;
}

#show:checked ~ .center{
    position: absolute;
    display: block;
}

.center .close-btn{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 25px;
    color:white;
    cursor: pointer;
    
}


.center .close-btn:hover{
    color: rgb(76, 76, 248);
    cursor: pointer;
}

.center .text{
    margin-top: -15px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.center form{
    margin-top: -20px;
}

.center form .data{
    height: 55px;
    width: 100%;
    margin: 15px 0;
}

form .data label{
    margin-top: 2px;
    font-size: 16px;
}

form .data input{
    height: 70%;
    width: 100%;
    padding-left: 10px;
    font-size: 10px;
    color: black;
    font-size: medium;
    font-weight: 500;
    margin-top: 2px;
    border-radius: 5px;
    border: 3px solid lightgray;
    outline: none;
    /* border-color: white; */
    /* background: rgba(211, 211, 211, 0.822); */
}

form .data input:hover{
    border-color:rgba(46, 46, 248, 0.885);
}

form .data input[type="text"]{
    font-size: medium;
}

form .data input[type="email"]{
    font-size: medium;
}

form .data input[type="password"]{
    font-size: medium;
}

form .btn{
    margin: 30px 0 -5px ;
    height: 45px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

form .btn .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    z-index: -1;
    transition: all 0.4s;
    background: rgba(42, 42, 213, 0.825);
}


form .btn:hover .inner{
    left: 0;
    background: rgba(0, 0, 255, 0.825);
}

form .btn button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.numbers{
    background: rgba(78, 70, 229, 0.944);
    color: white;
}

.numbers h2{
    color: white;
}

.num p{
    color: white;
}

#footer{
    background: rgba(0, 0, 0, 0.2);
}

section #team{
    position: relative;
    margin-top: -40px;
    padding-top: 60px;
    font-size: 30px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;

}